body{
    color: white;
    background: blue;
    }
    
    .heading{
        width: 80%;
        font-size: 22px;
    }
    
    #camera{
        border: 2px dashed green;
        width: 350px;
        height: 300px;
    }
    .name_of_family_member,#result_family_name,#result_family_accuracy{
        color: pink;
    }